body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(/imgs/login/restaurant2.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: url(filters.svg#filter) blur(2px) saturate(150%);
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 450px) {

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 11px;
    }

    .form-field {
        width: 250px
    }

    .form-field input {
        font-size: 11px;
        width: 100%;
        background-color: white;
        border: 0;
        padding-left: 8px;
        margin-top: 5px;
        border: solid 1px #ffcc80;
        margin-bottom: 15px;
        border: solid .15px #ff9b05;
        border-radius: 5px;
        box-sizing: border-box;
        height: 30px;
        color: rgb(74, 74, 74);
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .form-field2 {
        width: 250px
    }

    .form-field2 input {
        font-size: 11px;
        width: 100%;
        background-color: white;
        border: 0;
        padding-left: 8px;
        margin-top: 5px;
        border: solid 1px #ffcc80;
        border: solid .15px #ff9b05;
        border-radius: 5px;
        box-sizing: border-box;
        height: 30px;
        color: rgb(74, 74, 74);
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .login {
        width: 200px
    }

    .login button {
        width: 200px;
        height: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        background-color: #ffcc80;
        border: 0;
    }

    .reset {
        width: 200px;
    }

    .reset button {
        background: none;
        border: 0;
        width: 200px;
        height: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer
    }

    .register {
        width: 200px
    }

    .register button {
        width: 200px;
        height: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        background: none;
        border: solid 1px #ffcc80;
        color: black;
        margin-top: 10px;
    }

    .cont {
        background-color: white;
        padding: 30px 25px;
        width: max-content;
        height: max-content;
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    button:active {
        opacity: 0.8;
    }

    button[disabled] {
        opacity: 0.8;
    }
    .error {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: -10px;
        border-radius: 5px;
    } 
    .error2 {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: 5px;
        border-radius: 5px;
    } 
    .error3 {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    } 
}

@media (min-width: 450px) {

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 13px;
    }

    .form-field {
        width: 300px
    }

    .form-field input {
        font-size: 13px;
        width: 100%;
        background-color: white;
        border: 0;
        padding-left: 8px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: solid 1.5px #ff9b05;
        border-radius: 5px;
        box-sizing: border-box;
        height: 30px;
        color: rgb(74, 74, 74);
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .form-field input:hover {
        border: solid 1px #ffb546;
    }

    .form-field2 input:hover {
        border: solid 1px #ffb546;
    }

    .form-field2 {
        width: 300px
    }

    .form-field2 input {
        font-size: 13px;
        width: 100%;
        background-color: white;
        border: 0;
        padding-left: 8px;
        margin-top: 5px;
        border: solid 1.5px #ff9b05;
        border-radius: 5px;
        box-sizing: border-box;
        height: 30px;
        color: rgb(74, 74, 74);
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .login {
        width: 300px
    }

    .login button {
        width: 300px;
        height: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        background-color: #ffcc80;
        border: 0;
        color: black;
    }

    .reset {
        width: 300px;
    }

    .reset button {
        background: none;
        border: 0;
        width: 300px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        color: black;
        margin-top: 20px;
        margin-top: 10px;
        height: 40px;
    }

    .register {
        width: 300px
    }

    .register button {
        width: 300px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        background: none;
        border: solid 1px #ffcc80;
        color: black;
        margin-top: 10px;
        height: 40px;
    }

    .cont {
        background-color: white;
        padding: 30px 25px;
        width: max-content;
        height: max-content;
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    button:active {
        opacity: 0.8;
    }

    button[disabled] {
        opacity: 0.8;
    }

    .error {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: 5px;
        border-radius: 5px;
    }
    .error {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: -10px;
        border-radius: 5px;
    } 
    .error2 {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: 5px;
        border-radius: 5px;
    } 
    .error3 {
        background: rgba(255, 0, 0, 0.552);
        color: white;
        display: none;
        padding: 1px 8px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    } 
}